<center>
<h1>Welcome to Crookshanks's Magical Animal Shelter!</h1>
<br>
<h3>If you are looking to adopt your new companion, click below:
<br>
<a href="/adopters">Potential Adopters</a>
<br>
<br>
If you are an animal shelter worker, click below:
<br>
<a href="/animals">Shelter Employees</a>
</h3>
</center>
